<footer class="py-32 pb-16 bg-gradient-to-b from-coffee-400 via-coffee-600 to-coffee-800 relative">
  <div class="container mx-auto z-10 p-4 pb-0">
    <div class="grid grid-cols-3 lg:grid-cols-6 gap-4 pb-4">
      <a href="https://www.booking.com/hotel/np/babermahal-vilas.en-gb.html" target="_blank" rel="noopener noreferrer"
        class="p-2 flex items-center justify-center" aria-label="Booking.com">
        <img src="./svg/bookingcom.svg" alt="Booking.com" class="w-32 h-8 object-contain" />
      </a>
      <a href="https://www.tripadvisor.com/Hotel_Review-g293890-d11648304-w-20 h-20 rounded-full shadow-lg object-cover-Baber_Mahal_Vilas_The_Heritage_Hotel-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_.html"
        target="_blank" rel="noopener noreferrer" class="p-2 flex items-center justify-center"
        aria-label="Tripadvisor Booking">
        <img src="./svg/tripadvisor.svg" alt="Tripadvisor" class="w-32 h-8 object-contain" />
      </a>
      <a href="https://www.agoda.com/baber-mahal-vilas/hotel/kathmandu-np.html?cid=1844104" target="_blank"
        rel="noopener noreferrer" class="p-2 flex items-center justify-center" aria-label="Agoda Booking">
        <img src="./svg/agoda.svg" alt="Agoda" class="w-24 h-9 object-cover scale-75 md:scale-100" />
      </a>
      <a href="https://www.expedia.com/Kathmandu-Hotels-Baber-Mahal-Vilas.h16220397.Hotel-Information" target="_blank"
        rel="noopener noreferrer" class="p-2 flex items-center justify-center" aria-label="Expedia Booking">
        <img src="./svg/expedia.svg" alt="Expedia" class="w-32 h-8 object-cover" />
      </a>
      <a href="https://www.makemytrip.com/hotels-international/nepal/kathmandu-hotels/baber_mahal_vilas-details.html"
        target="_blank" rel="noopener noreferrer" class="p-2 flex items-center justify-center"
        aria-label="Makemytrip Booking">
        <img src="./svg/makemytrip.svg" alt="Make my trip" class="w-32 h-8 object-contain" />
      </a>
      <a href="https://www.goibibo.com/hotels-international/baber-mahal-vilas-hotel-in-kathmandu-8255403136307471630/"
        target="_blank" rel="noopener noreferrer" class="p-2 flex items-center justify-center"
        aria-label="Goibibo Booking">
        <img src="./svg/goibibo.svg" alt="Goibibo" class="w-32 h-8 object-cover" />
      </a>
    </div>

    <div class="py-2 border-dotted border-coffee-400 border-t-2"></div>

    <div class="grid grid-cols-1 gap-4 z-10 py-5 translate-y-10">
      <div class="w-full -mb-10">
        <h4
          class="caps flex items-center justify-center flex-col text-xl md:text-2xl font-semibold text-coffee-900 mb-8">
          Contact Address
          <div class="w-1/4 md:w-1/12 h-1 rounded-full bg-coffee-900/50"></div>
        </h4>
        <ul class="flex items-center justify-center flex-col gap-4">
          <li>
            <a href="https://maps.app.goo.gl/MTGh5x8QTaoFvzRG9"
              class="inline-block text-base md:text-lg leading-loose text-coffee-900 hover:underline" target="_blank"
              rel="noopener noreferrer" aria-label="Tanka Prasad Sadak, Kathmandu">
              <i class="mr-2 fa-solid fa-map-marker-alt"></i>
              Tanka Prasad Sadak, Kathmandu
            </a>
          </li>
          <li>
            <a href="tel:+9774257655"
              class="inline-block text-base md:text-lg leading-loose text-coffee-900 hover:underline" target="_blank"
              rel="noopener noreferrer" aria-label="+977-01-4257655/4248747">
              <i class="mr-2 fa-solid fa-phone-volume"></i>
              +977-01-4257655/4248747
            </a>
          </li>
          <li>
            <a href="mailto:info@babermahal.com"
              class="inline-block text-base md:text-lg leading-loose text-coffee-900 hover:underline" target="_blank"
              rel="noopener noreferrer" aria-label="info@babermahal.com">
              <i class="mr-2 fa-solid fa-envelope"></i>
              info@babermahal.com
            </a>
          </li>
        </ul>
        <div class="flex items-center justify-center md:gap-2 flex-row mt-6">
          <a href="https://www.facebook.com/babermahalvilas/" target="_blank" rel="noopener noreferrer"
            class="flex items-center justify-center w-8 h-8 mr-3 border-dotted border-coffee-400 border-[1px] rounded-full text-coffee-400 hover:bg-coffee-400 hover:text-coffee-700 sm:mr-4 lg:mr-3 xl:mr-4 transition-all duration-200 ease-in-out"
            aria-label="Facebook link">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/BaberMahalVilas" target="_blank" rel="noopener noreferrer"
            class="flex items-center justify-center w-8 h-8 mr-3 border-dotted border-coffee-400 border-[1px] rounded-full text-coffee-400 hover:bg-coffee-400 hover:text-coffee-700 sm:mr-4 lg:mr-3 xl:mr-4 transition-all duration-200 ease-in-out"
            aria-label="Instagram link">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/babermahalvilas/?originalSubdomain=np" target="_blank"
            rel="noopener noreferrer"
            class="flex items-center justify-center w-8 h-8 mr-3 border-dotted border-coffee-400 border-[1px] rounded-full text-coffee-400 hover:bg-coffee-400 hover:text-coffee-700 sm:mr-4 lg:mr-3 xl:mr-4 transition-all duration-200 ease-in-out"
            aria-label="Linkedin link">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer"
            class="flex items-center justify-center w-8 h-8 mr-3 border-dotted border-coffee-400 border-[1px] rounded-full text-coffee-400 hover:bg-coffee-400 hover:text-coffee-700 sm:mr-4 lg:mr-3 xl:mr-4 transition-all duration-200 ease-in-out"
            aria-label="Youtube link">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
      </div>

    </div>

    <div
      class="bg-no-repeat bg-contain w-full h-[15vh] md:h-[36vh] mix-blend-multiply bg-center opacity-50 pointer-events-none select-none"
      style="background-image: url('./svg/building.svg')"></div>
    <div class="py-2 border-dotted border-coffee-400 border-t-2"></div>
    <div class="mt-8 flex justify-between items-center flex-col md:flex-row text-coffee-400 gap-4">
      <div class="flex items-center gap-4">
        <p class="text-center text-sm">
          © Baber Mahal Vilas
          <span id="current-year"></span>
          | All rights reserved |
        </p>
        <p class="flex gap-4 text-sm">
          <a href="#" class="underline hover:underline md:no-underline" aria-label="Terms and Conditions">Terms &
            Conditions</a>
          <a href="#" class="underline hover:underline md:no-underline" aria-label="Privacy Policy">Privacy
            Policy</a>
        </p>
      </div>
      <p class="text-sm">
        Developed by:
        <a href="https://www.purnashrestha.com.np/" target="_blank" class="relative group" aria-label="Purna Shrestha">
          <label
            class="absolute bottom-0 -right-0 w-full h-[2px] bg-coffee-400 group-hover:scale-x-0 origin-left transition-all duration-300 ease-linear"></label>
          Purna Shrestha</a>
      </p>
    </div>
  </div>

  <div
    class="absolute inset-0 size-full bg-[url('/src/assets/graphics/flowers.webp')] bg-contain bg-repeat mix-blend-multiply opacity-20 -z-0 pointer-events-none"
    style="background-image: url('./img/arts/palace.avif')"></div>

  <div class="absolute top-0 size-full bg-gradient-to-b from-coffee-400 to-transparent to-20% pointer-events-none">
  </div>
</footer>