<a href="https://www.babermahal.com/" target="_blank" rel="noopener noreferrer"
    class="fixed right-0 top-[88px] p-4 px-2 pl-0 flex items-center justify-center bg-coffee-700 rounded-l-xl translate-x-[100px] md:translate-x-[120px] hover:translate-x-0 transition-all duration-300 ease-linear z-50"
    aria-label="Complex wih the logo of Babar Mahal Revisted">
    <span class="caps text-coffee-400 text-sm md:text-lg -rotate-90 -ml-3">Complex</span>
    <img alt="Babermahal Revisited The Complex" src="https://www.babermahal.com/images/preference/KIs6r-logo.png"
        class="w-20 md:w-24 h-auto object-contain scale-75 md:scale-100" />
</a>