<div id="whatsapp-icon" class="fixed right-5 bottom-6 z-[99] flex items-center justify-center gap-1">
    <p class="text-xs bg-white px-2 py-1 rounded-full animate-pulse merriweather">
        Need Help?
    </p>
    <div
        class="size-11 rounded-full bg-white shadow-lg hover:shadow-xl flex items-center justify-center transition-all duration-150 ease-in-out">
        <a href="https://wa.me/+9779801084724" target="_blank" rel="noopener noreferrer" aria-label="whatsapp-icon">
            <i class="fa-brands fa-whatsapp text-3xl text-green-600"></i>
        </a>
    </div>
</div>