@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: "Cotta";
  src: url("./assets/fonts/cotta.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::selection {
    @apply bg-dark text-light;
  }

  ::-webkit-scrollbar {
    @apply w-0;
  }

  /* ::-webkit-scrollbar {
    @apply w-2 rounded-full bg-transparent;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-coffee-700 rounded-full border border-solid border-coffee-400;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-coffee-800;
  } */

  body {
    @apply font-body;
  }

  .navlink,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }

  p,
  span,
  label,
  a,
  input,
  textarea,
  button,
  ul,
  li {
    @apply font-medium font-body;
  }

  section {
    @apply py-12 sm:py-24 md:py-28 lg:py-36;
  }

  .filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

}